<div class="content">
  <app-titulo-pagina titulo="Plano de Ação" />

  <div class="mx-3 mb-3">
    <p-stepper [linear]="true">
      <p-stepperPanel header="Plano e Objetivos">
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem">
            <app-plano-objetivos
              (podeAvancar)="nextCallback.emit()"
            ></app-plano-objetivos>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Descrição dos Objetivos">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem">
            <app-descricao-objetivos
              (clicouBtnAnterior)="prevCallback.emit()"
              (salvouProblemasDosObjetivos)="nextCallback.emit()"
            ></app-descricao-objetivos>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Problemas e Ações">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem">
            <app-problemas-acoes></app-problemas-acoes>
          </div>
          <div class="flex pt-4 justify-content-start">
            <p-button
              label="Back"
              icon="pi pi-arrow-left"
              (onClick)="prevCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>
