<div class="form-dados-contato-content">
  <form [formGroup]="formPlanoObjetivos" (ngSubmit)="salvarDadosContato()">
    <div class="p-grid p-fluid">
      <div class="row">
        <div class="form-group col-12 col-md-6 mb-4">
          <h3 class="mb-4">Plano</h3>
          <p-floatLabel>
            <input
              pInputText
              id="descricao-plano-form-dados-contato"
              formControlName="descricao"
            />
            <label for="descricao">Descrição do plano *</label>
          </p-floatLabel>
          <app-mensagem-alerta
            campo="descricao"
            mensagem="Este campo é obrigatório."
            tipoAlerta="required"
            [formulario]="formPlanoObjetivos"
          />
          <app-mensagem-alerta
            campo="descricao"
            mensagem="Limite de 25 caracteres."
            tipoAlerta="maxlength"
            [formulario]="formPlanoObjetivos"
          />
        </div>
      </div>
    </div>
    <div formArrayName="objetivos" class="p-grid p-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <h4 class="mb-4">Objetivos</h4>
          <div
            *ngFor="let objetivo of objetivos.controls; let i = index"
            [formGroupName]="i"
            class="form-group mb-4 d-flex align-items-center"
          >
            <input
              type="checkbox"
              id="selecionado-{{ i }}"
              formControlName="selecionado"
              class="form-check-input checkbox-personalizado-maior mr-2"
            />

            <div class="flex-grow-1">
              <p-floatLabel>
                <input
                  pInputText
                  id="objetivo-nome-{{ i }}"
                  formControlName="nome"
                  [class.is-invalid]="possuiErro('nome', i)"
                />
                <label for="objetivo-nome-{{ i }}">
                  Objetivo {{ i + 1 }}
                  <span *ngIf="isRequired('nome', i)"> *</span>
                </label>
              </p-floatLabel>

              <div
                *ngIf="possuiErroEspecifico('nome', 'required', 'objetivos', i)"
                class="text-danger"
              >
                <p class="mensagem-erro">Este campo é obrigatório.</p>
              </div>
              <div
                *ngIf="
                  possuiErroEspecifico('nome', 'maxlength', 'objetivos', i)
                "
                class="text-danger"
              >
                <p class="mensagem-erro">Limite de de 20 caracteres.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid p-fluid">
      <div class="col-12 col-md-6 mb-4">
        <button type="submit" class="btn btn-primary">
          Próximo <i class="pi pi-arrow-right ml-2"></i>
        </button>
      </div>
    </div>
  </form>
</div>
