<div class="content">
  <h3 class="mb-3">Objetivo 1</h3>

  <div id="form-problema">
    <form [formGroup]="formProblema" (ngSubmit)="salvarDadosObjetivo()">
      <div class="p-grid p-fluid">
        <div class="row">
          <!-- Primeira linha de campos -->
          <div class="form-group col-12 col-md-8 col-lg-8 mb-4">
            <p-floatLabel>
              <input
                pInputText
                id="descricao-problema-form-dados-objetivo"
                formControlName="descricaoProblema"
              />
              <label for="descricaoProblema">Descrição do problema *</label>
            </p-floatLabel>
            <app-mensagem-alerta
              campo="descricaoProblema"
              mensagem="Este campo é obrigatório."
              tipoAlerta="required"
              [formulario]="formProblema"
            />
          </div>

          <div class="form-group col-12 col-md-4 col-lg-2 mb-4">
            <p-floatLabel>
              <p-dropdown
                inputId="etapa"
                [options]="etapas"
                formControlName="etapa"
              ></p-dropdown>
              <label for="etapa">Etapa</label>
            </p-floatLabel>
          </div>

          <div
            class="form-check col-12 col-md-4 col-lg-2 mb-4 d-flex align-items-center"
          >
            <input
              type="checkbox"
              id="possuiCausa"
              formControlName="possuiCausa"
              class="form-check-input me-2"
            />
            <label for="possuiCausa" class="form-check-label"
              >Possui causa</label
            >
          </div>

          <!-- Segunda linha de campos -->
          <div class="form-group col-12 col-md-6 col-lg-6 mb-4">
            <p-floatLabel>
              <input
                pInputText
                id="resultado-form-dados-objetivo"
                formControlName="resultado"
              />
              <label for="resultado">Resultado</label>
            </p-floatLabel>
          </div>

          <div class="form-group col-12 col-md-4 col-lg-2 mb-4">
            <p-floatLabel>
              <p-dropdown
                inputId="prioridade"
                [options]="prioridades"
                formControlName="prioridade"
              ></p-dropdown>
              <label for="prioridade">Prioridade *</label>
            </p-floatLabel>
            <app-mensagem-alerta
              campo="prioridade"
              mensagem="Este campo é obrigatório."
              tipoAlerta="required"
              [formulario]="formProblema"
            />
          </div>

          <div class="form-group col-12 col-md-4 col-lg-2 mb-4">
            <p-floatLabel>
              <p-dropdown
                inputId="categoria"
                [options]="categorias"
                formControlName="categoria"
              ></p-dropdown>
              <label for="categoria">Categoria *</label>
            </p-floatLabel>
            <app-mensagem-alerta
              campo="categoria"
              mensagem="Este campo é obrigatório."
              tipoAlerta="required"
              [formulario]="formProblema"
            />
          </div>

          <div class="form-group col-12 col-md-4 col-lg-2 mb-4">
            <button type="submit" class="btn btn-primary w-100">
              <i class="pi pi-check ml-2"></i> Adicionar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="tabela-problemas" class="border mb-4">
    <p-table
      [value]="problemas"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            scope="col"
            [style]="coluna.width"
            [pSortableColumn]="coluna.field"
            *ngFor="let coluna of colunas"
          >
            <div class="d-flex justify-content-between align-items-center">
              <p class="w-fit">{{ coluna.header }}</p>
              <p-sortIcon [field]="coluna.field" />
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-problema let-rowIndex="rowIndex">
        <tr>
          <td>{{ problema.descricaoProblema }}</td>
          <td>{{ problema.etapa.descricao ?? "-" }}</td>
          <td>{{ problema.possuiCausa ?? "-" }}</td>
          <td>{{ problema.resultado ?? "-" }}</td>
          <td>{{ problema.prioridade ?? "-" }}</td>
          <td>{{ problema.categoria.descricao ?? "-" }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center">
            Não existem pessoas cadastradas.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
